.c-titleTxt {
  width: 100%;
  border-left: 3px solid #ff6300;
  position: absolute;
  display: flex;
  top: 500px;
  flex-flow: column;
  z-index: 100;
  &.interview {
    margin: 0;
    flex-flow: row;
    align-items: center;
    position: relative;
    top: 0;
    transform: none;
  }
  .c-titleTxt__h2 {
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 110px;
    font-weight: bold;
    line-height: 1;
    color: #ff6300;
    &.interview__h2 {
      padding-right: 5vw;
      
    }
  }
  .c-titleTxt__des {
    padding-left: 16px;
    font-size: 1.1vw;
    line-height: 1.5;
    letter-spacing: 1.3px;
    &.interview__des {
      position: relative;
      bottom: -3vw;
    }
  }
}