.c-liver {
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .c-liver__icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
  }
  .c-liver__name {
    font-size: 14px;
    font-weight: bold;
  }
}