.c-modal {
  width: 400px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 20px;
  display: none;
  text-align: center;
  z-index: 200;
  & h3 {
    margin: 10%;
    font-size: 25px;
  }
  & p {
    margin: 30px 10%;
    padding: 10px 20px;
    font-size: 20px;
    color: #2b2745;
    background-color: aqua;
    border-radius: 20px;
  }
  &.active {
    display: block;
  }
}