/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

div {
  color: #fff;
}

p {
  color: #fff;
}

video {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 115px;
  position: relative;
  z-index: 100;
}
header .l-header {
  max-width: 1360px;
  width: 100%;
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .l-header .l-header__logo {
  width: 100px;
}
header .l-header .l-header__logo .l-header__logo__link {
  display: block;
}
header .l-header .l-header__txt {
  padding-top: 17px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .l-header .l-header__txt .l-header__txt__nav {
  padding-right: 70px;
  font-size: 11px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .l-header .l-header__txt .l-header__txt__nav .l-header__txt__nav__items {
  padding-right: 35px;
}
header .l-header .l-header__txt .l-header__txt__nav .l-header__txt__nav__items .l-header__txt__nav__items__link {
  white-space: nowrap;
  display: block;
  color: #fff;
}
header .l-header .l-header__txt .l-header__txt__nav .l-header__txt__nav__items .l-header__txt__nav__items__link.homeLink {
  color: #ff6300;
}
header .l-header .l-header__txt .l-header__txt__nav .l-header__txt__nav__items .l-header__txt__nav__items__link:hover {
  color: #ff6300;
}
header .l-header .l-header__txt .l-header__txt__right {
  font-size: 11px;
  text-align: end;
}
header .l-header .l-header__txt .l-header__txt__right .l-header__txt__right__items {
  position: relative;
}
header .l-header .l-header__txt .l-header__txt__right .l-header__txt__right__items .l-header__txt__right__items__link {
  padding-right: 5px;
  white-space: nowrap;
  display: block;
  padding-bottom: 5px;
  position: relative;
}
header .l-header .l-header__txt .l-header__txt__right .l-header__txt__right__items .l-header__txt__right__items__link.creatorLink {
  color: #ff6300;
}
header .l-header .l-header__txt .l-header__txt__right .l-header__txt__right__items .l-header__txt__right__items__link:hover {
  color: #ff6300;
}
header .l-header .l-header__txt .l-header__txt__right .l-header__txt__right__items .l-header__txt__right__items__link::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 50;
}

footer {
  width: 100%;
  margin-top: -31.2vw;
  position: relative;
  z-index: 60;
}
footer .l-footer {
  width: 100%;
}
footer .l-footer .l-footer__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 6vw;
}
footer .l-footer .l-footer__menu .l-footer__menu__first {
  display: flex;
  flex-wrap: nowrap;
}
footer .l-footer .l-footer__menu .l-footer__menu__first .l-footer__menu__first__items {
  margin-right: 40px;
}
footer .l-footer .l-footer__menu .l-footer__menu__first .l-footer__menu__first__items .l-footer__menu__first__items__link {
  font-size: 13px;
}
footer .l-footer .l-footer__menu .l-footer__menu__first .l-footer__menu__first__items .l-footer__menu__first__items__link:hover {
  color: #ff6300;
}
footer .l-footer .l-footer__menu .l-footer__menu__first .l-footer__menu__first__items .l-footer__menu__first__items__link.footer__materials {
  color: #ff6300;
}
footer .l-footer .l-footer__menu .l-footer__menu__first .l-footer__menu__first__items .l-footer__menu__first__items__link.footer__materials:hover {
  color: #fff;
}
footer .l-footer .l-footer__menu .l-footer__menu__second {
  display: flex;
  flex-wrap: wrap;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items {
  margin-right: 50px;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items .l-footer__menu__second__items__link {
  padding-right: 5px;
  font-size: 13px;
  position: relative;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items .l-footer__menu__second__items__link.footer__creator {
  color: #ff6300;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items .l-footer__menu__second__items__link.footer__creator:hover {
  color: #fff;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items .l-footer__menu__second__items__link:hover {
  color: #ff6300;
}
footer .l-footer .l-footer__menu .l-footer__menu__second .l-footer__menu__second__items .l-footer__menu__second__items__link::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../../assets/image/arrow.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: -15px;
  top: 22%;
  z-index: 50;
}
footer .l-footer .l-footer__menu .l-footer__menu__third {
  display: flex;
  flex-wrap: nowrap;
}
footer .l-footer .l-footer__menu .l-footer__menu__third .l-footer__menu__third__items .l-footer__menu__third__items__link {
  padding-right: 5px;
  position: relative;
}
footer .l-footer .l-footer__menu .l-footer__menu__third .l-footer__menu__third__items .l-footer__menu__third__items__link:hover {
  color: #ff6300;
}
footer .l-footer .l-footer__menu .l-footer__menu__third .l-footer__menu__third__items .l-footer__menu__third__items__link::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../../assets/image/arrow.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: -15px;
  top: 22%;
  z-index: 50;
}
footer .l-footer .l-footer__logo {
  width: 100%;
  height: 670px;
  background: #1c1c1c;
  text-align: center;
  position: relative;
}
footer .l-footer .l-footer__logo .l-footer__logo__pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .l-footer .l-footer__logo .l-footer__logo__pos .l-footer__logo__pos__img {
  width: 250px;
  margin: 0 auto;
}
footer .l-footer .l-footer__logo .l-footer__logo__pos .l-footer__logo__pos__cl {
  margin-top: 15px;
  font-size: 10px;
}

.c-titleTxt {
  width: 100%;
  border-left: 3px solid #ff6300;
  position: absolute;
  display: flex;
  top: 500px;
  flex-flow: column;
  z-index: 100;
}
.c-titleTxt.interview {
  margin: 0;
  flex-flow: row;
  align-items: center;
  position: relative;
  top: 0;
  transform: none;
}
.c-titleTxt .c-titleTxt__h2 {
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 110px;
  font-weight: bold;
  line-height: 1;
  color: #ff6300;
}
.c-titleTxt .c-titleTxt__h2.interview__h2 {
  padding-right: 5vw;
}
.c-titleTxt .c-titleTxt__des {
  padding-left: 16px;
  font-size: 1.1vw;
  line-height: 1.5;
  letter-spacing: 1.3px;
}
.c-titleTxt .c-titleTxt__des.interview__des {
  position: relative;
  bottom: -3vw;
}

.c-main__h3 {
  align-items: center;
  height: 30px;
}
.c-main__h3 .c-main__h3__items {
  margin-bottom: 50px;
  font-size: 23px;
  letter-spacing: 1.3px;
  background: #000;
}
.c-main__h3 .c-main__h3__items::before {
  content: "";
  margin-right: 20px;
  border-left: #ff6300 10px solid;
  border-radius: 2px;
}
.c-main__h3 .c-main__h3__items.interviewH3 {
  padding: 0;
}

.interviewImg {
  width: 220px;
  height: auto;
}

.c-interviewBar {
  width: 100%;
  padding-top: 5vw;
  border-bottom: solid #404040 3px;
}

.c-userInterview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-userInterview .c-userInterview__link {
  width: 100%;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__num {
  padding: 35px 0;
  font-size: 20px;
  font-weight: bold;
  color: #ff6300;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex {
  width: 100%;
  padding-left: 2.5vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__company {
  width: 50%;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__company .c-userInterview__link__flex__company__name {
  padding-bottom: 25px;
  font-size: 18px;
  color: #8f8f8f;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__company .c-userInterview__link__flex__company__title {
  padding-bottom: 25px;
  font-size: 30px;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__company .c-userInterview__link__flex__company__tag {
  display: flex;
  width: 100%;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__company .c-userInterview__link__flex__company__tag .c-userInterview__link__flex__company__tag__items {
  margin-right: 10px;
  padding: 10px 15px;
  background: #222;
  border-radius: 20px;
  font-size: 15px;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right .c-userInterview__link__flex__right__p {
  width: 60%;
  position: relative;
  line-height: 1.4;
  letter-spacing: 1.3px;
  font-size: 16px;
  color: #aaa;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right .c-userInterview__link__flex__right__p::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../../assets/image/quotation.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: -3vw;
  top: 0;
  transform: rotateX(180deg);
  transform: rotateZ(180deg);
  z-index: 50;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right .c-userInterview__link__flex__right__p::after {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../../assets/image/quotation.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: -2vw;
  bottom: 0;
  z-index: 50;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right .c-userInterview__link__flex__right__btn {
  width: 90px;
  height: 90px;
  margin-right: 25px;
  margin-left: 4vw;
  border: #ff6300 2px solid;
  border-radius: 50%;
  position: relative;
}
.c-userInterview .c-userInterview__link .c-userInterview__link__flex .c-userInterview__link__flex__right .c-userInterview__link__flex__right__btn::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow01.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.c-sixthItems {
  width: 435px;
  height: 435px;
  border-radius: 50%;
  border: #ff6300 solid 3px;
  text-align: center;
  position: relative;
}
.c-sixthItems::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow01.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.c-sixthItems:nth-of-type(3)::after {
  display: none;
}
.c-sixthItems .c-sixthItems__num {
  padding: 30px 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ff6300;
}
.c-sixthItems .c-sixthItems__do {
  padding-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1.3px;
}
.c-sixthItems .c-sixthItems__center {
  width: 170px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.c-sixthItems .c-sixthItems__des {
  font-size: 15px;
  color: #aaa;
}

.c-materials {
  margin-bottom: 16vw;
  text-align: center;
}
.c-materials .c-materials__txt {
  padding-left: 2vw;
  padding-bottom: 65px;
  font-size: 30px;
}
.c-materials .c-materials {
  width: 100%;
}
.c-materials .c-materials .c-materials__btn {
  padding: 20px 150px 20px 130px;
  background: #000;
  border-radius: 70px;
  border: #ff6300 solid 3px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: relative;
}
.c-materials .c-materials .c-materials__btn:after {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../../assets/image/arrow01.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.p-first {
  width: 100%;
  height: calc(100vh - 115px);
  position: relative;
}
.p-first .p-first__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-first .p-first__container .p-first__container__left {
  width: 50%;
  margin: 0 auto;
  z-index: 30;
}
.p-first .p-first__container .p-first__container__left .p-first__container__left__head {
  margin-bottom: 20px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.1;
  color: #ff6300;
  letter-spacing: 2px;
}
.p-first .p-first__container .p-first__container__left .p-first__container__left__des {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1.3px;
  color: #fff;
}
.p-first .p-first__container .p-first__container__left .p-first__container__left__materials {
  width: 100%;
}
.p-first .p-first__container .p-first__container__left .p-first__container__left__materials .p-first__container__left__materials__font {
  padding: 17px 65px 17px 50px;
  border-radius: 40px;
  border: #ff6300 solid 0.2vw;
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: relative;
}
.p-first .p-first__container .p-first__container__left .p-first__container__left__materials .p-first__container__left__materials__font:after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow01.png) center no-repeat;
  display: inline-block;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.p-first .p-first__container .p-first__container__right {
  width: 100%;
  height: inherit;
}
.p-first .p-first__container .p-first__container__right .p-first__container__right__video {
  width: 60%;
  height: inherit;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 20;
}

@media screen and (max-width: 800px) {
  .p-first {
    width: 100%;
    margin-top: 20px;
    height: auto;
    position: initial;
  }
  .p-first .p-first__container {
    width: 90vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: initial;
    transform: none;
  }
  .p-first .p-first__container .p-first__container__left {
    width: 100%;
    margin-top: 5vw;
    position: initial;
    text-align: center;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__head {
    font-size: 12vw;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__des {
    width: 90%;
    margin: 0 auto 10vw;
    font-size: 3vw;
    text-align: start;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__des br {
    display: none;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__materials {
    width: 100%;
    margin-bottom: 20vw;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__materials .p-first__container__left__materials__font {
    padding: 17px 27vw 17px 23vw;
  }
  .p-first .p-first__container .p-first__container__left .p-first__container__left__materials .p-first__container__left__materials__font:after {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../../assets/image/arrow01.png) center no-repeat;
    display: inline-block;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
  }
  .p-first .p-first__container .p-first__container__right {
    width: 100%;
    height: auto;
  }
  .p-first .p-first__container .p-first__container__right .p-first__container__right__video {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.p-second {
  width: 100%;
}
.p-second .p-second__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.p-second .p-second__container .p-second__container__contents {
  width: 100%;
  position: relative;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}
.p-second .p-second__container .p-second__container__contents .p-second__container__contents__bg {
  width: 100vw;
  margin-left: calc((100vw - 1360px) * -0.5);
}
.p-second .p-second__container .p-second__container__contents .p-second__container__contents__bg::after {
  content: "";
  width: 100vw;
  height: 56vw;
  margin-left: calc((100vw - 1360px) * -0.5);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%) 0;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.p-third {
  width: 100%;
  margin-top: 3vw;
}
.p-third .p-third__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  border: 2px solid #ff6300;
  border-radius: 20px;
}
.p-third .p-third__container .p-third__container__link {
  display: block;
  position: relative;
  background: #000;
  border-radius: 20px;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__num {
  height: 150px;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 1.3vw;
  font-weight: bold;
  color: #ff6300;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__slider {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area {
  width: 100%;
  height: 150px;
  display: inline-block;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area.third01, .p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area.third02, .p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area.third03 {
  -webkit-animation: rotate 0.5s linear;
          animation: rotate 0.5s linear;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area .p-third__container__link__slider__area__items {
  height: 150px;
  font-size: 4.5vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__slider .p-third__container__link__slider__area .p-third__container__link__slider__area__items .p-third__container__link__slider__area__items__img {
  width: 150px;
  height: 150px;
  margin: 0 1.2vw;
  display: inline-block;
  -webkit-animation: change 1s infinite linear;
          animation: change 1s infinite linear;
}
@-webkit-keyframes change {
  0% {
    background: url(../../assets/image/face.png) no-repeat center/cover;
  }
  100% {
    background: url(../../assets/image/face01.png) no-repeat center/cover;
  }
}
@keyframes change {
  0% {
    background: url(../../assets/image/face.png) no-repeat center/cover;
  }
  100% {
    background: url(../../assets/image/face01.png) no-repeat center/cover;
  }
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des {
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px 0;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__txt {
  color: #aaa;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 1.3px;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  z-index: 50;
  background: #ff6300;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn .p-third__container__link__des__bor__btn__bg {
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 60;
  background: #000;
  border: 2px solid #ff6300;
  border-radius: 50%;
  box-sizing: border-box;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn .p-third__container__link__des__bor__btn__bg.bg01, .p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn .p-third__container__link__des__bor__btn__bg.bg02, .p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn .p-third__container__link__des__bor__btn__bg.bg03 {
  -webkit-animation: bg 0.3s linear forwards;
          animation: bg 0.3s linear forwards;
}
@-webkit-keyframes bg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor .p-third__container__link__des__bor__btn .p-third__container__link__des__bor__btn__arrow {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 70;
}
.p-third .p-third__container .p-third__container__link .p-third__container__link__des .p-third__container__link__des__bor__bor {
  width: 100%;
  padding-top: 25px;
  border-bottom: solid #404040 3px;
}

.p-fourth {
  margin-top: 160px;
  width: 100%;
}
.p-fourth .p-fourth__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.p-fourth .p-fourth__container .p-fourth__container__slider {
  width: 100%;
  margin: 3vw auto 0;
  overflow: hidden;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul {
  width: 100%;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider {
  position: relative;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slick-arrow {
  width: 90px;
  height: 90px;
  background: #000;
  border-radius: 50%;
  position: relative;
  z-index: 50;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow {
  position: absolute;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow.prev-arrow {
  left: 5.95vw;
  bottom: -5.8vw;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow.next-arrow {
  right: 5.95vw;
  bottom: -5.8vw;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow .slide-arrow__width {
  width: 90px;
  height: 90px;
  background: #000;
  border: #ff6300 solid 3px;
  border-radius: 50%;
  position: relative;
  z-index: 50;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow .slide-arrow__width.arrowLeft::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow01.png);
  display: inline-block;
  background-size: contain;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul.slick-slider .slide-arrow .slide-arrow__width.arrowRight::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../../assets/image/arrow01.png);
  display: inline-block;
  background-size: contain;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul .p-fourth__container__slider__ul__li {
  width: 1360px;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul .p-fourth__container__slider__ul__li .p-fourth__container__slider__ul__li__img {
  width: 1360px;
  height: auto;
  border-top: #ff6300 solid 3px;
  border-bottom: #ff6300 solid 3px;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul .p-fourth__container__slider__ul__li .p-fourth__container__slider__ul__li__txt {
  width: 1360px;
  height: 150px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__ul .p-fourth__container__slider__ul__li .p-fourth__container__slider__ul__li__txt .p-fourth__container__slider__ul__li__txt__p {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.p-fourth .p-fourth__container .p-fourth__container__slider .p-fourth__container__slider__bar {
  width: 64vw;
  margin: 3vw auto 6.5vw;
  border-bottom: #404040 solid 3px;
}

.p-fifth {
  width: 100%;
  margin-top: 150px;
}
.p-fifth .p-fifth__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.p-fifth .p-fifth__container .p-fifth__container__top {
  margin-top: 35px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-sixth {
  width: 100%;
  margin-top: 200px;
}
.p-sixth .p-sixth__container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.p-sixth .p-sixth__container .p-sixth__container__p {
  margin-top: 30px;
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 1.4;
}
.p-sixth .p-sixth__container .p-sixth__container__list {
  margin: 70px 0 120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.p-seventh {
  width: 100%;
}
.p-seventh .p-seventh__container {
  width: 100%;
}/*# sourceMappingURL=app.css.map */