.c-loopSlider {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
  .c-loopSlider_photo {
    width: 100%;
    z-index: 10;
    .c-loopSlider_photo_img {
      position: relative;
      height: 900px;
      &.l {
        width: 290px;
      }
      &.k {
        width: 432px;
      }
      &.j {
        width: 432px;
      }
      &.h {
        width: 432px;
      }
      &.g {
        width: 339px;
      }
      .c-loopSlider_photo_img__img {
        width: 100%;
        position: absolute;
        height: auto;
        &.q0 {
          width: 290px;
          left: 57px;
        }
        &.w0 {
          width: 432px;
          bottom: 0;
        }
        &.e0 {
          width: 432px;
          left: 200px;
          bottom: 600px;
        }
        &.r0 {
          width: 339px;
          left: 400px;
          bottom: 0;
        }
        &.t0 {
          width: 329px;
          left: 1300px;
          bottom: 200px;
        }
      }
    }
  }
  .c-loopSlider_txt {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    .c-loopSlider_txt_li {
      position: relative;
      width: 100px;
      height: 900px;
      display: inline-block;
      .c-loopSlider_txt_li_p {
        position: absolute;
        z-index: 100;
        writing-mode: vertical-rl;
        &.a1 {
          top: 0;
        }
        &.a2 {
          top: 400px;
        }
        &.a3 {
          bottom: 50px;
        }
        &.a4 {
          bottom: 400px;
        }
        &.a5 {
          bottom: 500px;
        }
        &.a6 {
          bottom: 200px;
        }
        &.a7 {
          bottom: 100px;
        }
        &.a8 {
          bottom: 550px;
        }
        &.a9 {
          bottom: 350px;
        }
        &.a10 {
          bottom: 600px;
        }
        &.a11 {
          bottom: 250px;
        }
        &.a12 {
          bottom: 0px;
        }
        &.a13 {
          top: 0;
        }
      }
    }
  }
  .c-loopSlider_tit {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 30;
    .c-loopSlider_tit_li {
      position: relative;
      height: 900px;
      width: 300px;
      height: 900px;
      .c-loopSlider_tit_li_p {
        position: absolute;
        &.b1 {
          top: 100px;
        }
        &.b2 {
          top: 100px;
        }
        &.b3 {
          bottom: 300px;
        }
        &.b4 {
          bottom: 10px;
        }
        &.b5 {
          bottom: 180px;
        }
        &.b6 {
          bottom: 2600px;
        }
        &.b7 {
          bottom: 700px;
        }
        &.b8 {
          bottom: 800px;
        }
        &.b9 {
          bottom: 590px;
        }
        &.b10 {
          bottom: 100px;
        }
        &.b11 {
          bottom: 300px;
        }
        &.b12 {
          bottom: 400px;
        }
        &.b13 {
          top: 0;
        }
      }
    }
  }
}